In [1]:
import sqlite3

In [2]:
#Database Creation

with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Books(Title TEXT, Author TEXT, Year_Published INTEGER, Genre TEXT)
    """)

In [3]:
#Insert Data

with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    values = [
        ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
        ('1984', 'George Orwell', 1949, 'Dystopian'),
        ('The Great Gatsby', 'F.Scott Fitzgerald', 1925, 'Classic')
    ]
    cursor.executemany("""
    INSERT INTO Books(Title, Author, Year_Published, Genre) VALUES(?, ?, ?, ?)
    """, values)

In [ ]:
#Update Data

with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute('''UPDATE Books
                    SET Year_Published = 1950
                    WHERE Title = '1984'
                    ''')

In [ ]:
#Query Data

with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute('''
                SELECT Title, Author FROM Books
                WHERE Genre = 'Dystopian'   
                ''')
    data = cursor.fetchall()
    print("Dystopian Books:")
    for book in data:
        print(book)

In [7]:
#Delete Data

with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""
                   DELETE FROM Books
                   WHERE Year_Published < 1950
                """)

In [ ]:
#Bonus Task

with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""
                ALTER TABLE Books
                ADD COLUMN Rating REAL
                """)
    
    values = [
        ('To Kill a Mockingbird', 4.8),
        ('1984', 4.7),
        ('The Great Gatsby', 4.5)
    ]
    
    for Title, Rating in values:
        cursor.execute(f"""
                    UPDATE Books
                    SET Rating = ?
                    WHERE Title = ?
                    """, (Rating, Title))

In [ ]:
#Advanced Query

with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM Books ORDER BY Year_Published ASC")

    sorted_books = cursor.fetchall()
    print("\nBooks sorted by Year_Published:")
    for book in sorted_books:
        print(book)